body {
    background:#dfd0cd;
    color: #333;
    margin: 15px auto 0;
    width: 320px;
  }
  #contact #form {
    width:410px;
    float:left;
  }
  #contact #form h2 {
    font: 48px 'Bree Serif', Georgia, serif;
  }
  #contact #form span {
    display:block;
    float:left;
    width:100px;
    padding-top:5px;
    font: 14px/16px'Bree Serif', Georgia, serif;
  }
  #contact #form input {
    float:left;
    width:255px;
    border:0px;
    color: #333;
    padding:10px 10px 10px 30px;
    font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
    margin-bottom:10px;
  }
  #contact #form textarea {
    float:left;
    border:0px;
    width:255px;
    height:140px;
    padding:10px 10px 10px 30px;
    font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
    color:#F1F1F1;
    resize: none;
  }
  #contact #form input.submit {
    cursor: pointer;
    width:85px;
    height:30px;
    float:right;
    padding: 5px;
    margin:10px 16px 0px 0px;
    background:#222222;
    color: #fff;
    font: 14px/16px'Bree Serif', Georgia, serif;
  }
  #contact #captcha span{
    width: 44px;
  }
  #contact #captcha input{
    background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat scroll 0 0 transparent;
    margin: 5px 0 0;
    padding: 0;
    border: medium none;
    cursor: pointer;
    width: 15px;
  }